.stateLayerOverlay {
    width: 100%;
    position: absolute;
    margin: 0 !important;
    height: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    z-index: 0;
}
.headline {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.5px;
    line-height: 24px;
}
.content {
    align-self: stretch;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.stateLayer {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 24px 4px 16px;
    z-index: 1;
}
.listItemlistItem2Densit {
    width: 100%;
    position: relative;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    text-align: left;
    font-size: 16px;
    color: #1d1b20;
    font-family: Roboto;
}

.headline {
    display: flex;
    align-items: center; /* 垂直对齐 */
}

.headline span {
    margin-right: 200px; /* 调整这个值来设置间距 */
}

.link {
    color: #4f378b;
    text-decoration: underline;
    cursor: pointer;
}
